<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="19ac34db-184f-43ae-8f08-56aa15b7d7b4">
            <input type="text" name="name" placeholder="Your Name" class="contact-input">
            <input type="email" name="email" placeholder="Your Email" class="contact-input">
            <textarea name="message" placeholder="Your Message" class="contact-input"></textarea>
            <button type="submit" class="contact-button">Send</button>
        </form>
        <div class="contact-right">
            <img src="" alt="contact section">
        </div>

    </div>
</body>
</html>