.container {
    width: 85vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.cA {
    width: 70%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    background-image: url(../../assets/login-user.jpg);
    background-size: cover;
    background-position: center;
    float: left;
}

.cB {
    width: 30%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    background-color: #dbdcf3;
    float: right;
}

.cB_isSun {
    width: 30%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    background-color: #484961;
    float: right;
}

.login_image {
    height: 65vh;
    width: fit-content;
    position: relative;
    left: 7%;
    margin-top: 10vh;
}

.login_main {
    width: 30vw;
    height: 65vh;
    background: #fff;
    position: absolute;
    right: 300px;
    color: #7d838b;
    border-radius: 30px;
    margin-top: 10vh;
    left: 60%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 0.5%;
}

.login_main_isSun {
    width: 30vw;
    height: 65vh;
    background: #1c1e40;
    position: absolute;
    right: 300px;
    color: #9883e5;
    border-radius: 30px;
    margin-top: 10vh;
    left: 60%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 0.5%;
}

.logo_icon {
    margin-left: 40px;
    margin-top: 40px;
}

.email {
    left: 10px;
}

.login_header {
    font-size: 25px;
    margin: 30px 40px;
}

.login_motive {
    font-size: 18px;
    color: #7d838b;
    margin: 30px 40px;
    line-height: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 85%;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    color: #a799cd;
    padding: 20px;
    background-color: transparent;
    border-width: 1px;
    margin-top: 30px;
}

.login_btn {
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 900;
    /* margin-top: 20px; */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #68cbd7, #a799cd);
}

.login_btn:hover {
    background: transparent;
    color: gray;
}
.buttons {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

@media screen and (max-width: 991px){
    
    .buttons {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 3.5%;
        padding-right: 3.5%;
        justify-content: center;
        gap: 10px;
    }    
}

@media screen and (max-width: 768px) {
    .container {
        height: 75vh;
        width: 90vw;
    }
    .login_main_isSun {
        width: 40vw;
        margin-top: 7.5vh;
        left: 50%;
        padding: 0px;
    }
    .login_main {
        width: 40vw;
        margin-top: 7.5vh;
        left: 50%;
        padding: 0px;
    }
    .login_header {
        font-size: 20px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .login_motive {
        font-size: 14px;
        color: #7d838b;
        margin: 20px 30px;
        line-height: 20px;
    }
}